/* 
    Document   : aboutus2
    Created on : Sep 5, 2012, 1:52:51 PM
    Author     : mike_newell
    Description:
        ADDITIONAL STYLES FOR THE ABOUTUS2 PAGE.
*/



#splash_logo {
	margin-top: 55px; 
}

#header_logo {
	margin-left: 13px;
}


.lightGreyhr {
    color: #231F20;
    background-color: #231F20;
    border-color: #231F20;
    border-width: 1px;
    margin: 12px 0px 17px 0px;
}

.blackhr {
    color: #AF9968;
    background-color: #AF9968;
    border-color: #AF9968;
    border-width: 1px;
       margin: 12px 0px 17px 0px;
}

.darkGreyhr {
	color: #CACBCD;
	background-color: #CACBCD;
    border-color: #CACBCD;
	border-width: 1px;
    margin: 12px 0px 17px 0px;
}

.goldhr {
    color: #231F20;
    background-color: #231F20;
    border-color: #231F20;
    border-width: 1px;
       margin: 12px 0px 17px 0px;
}

.redhr {
    color: #E7E7E8;
    background-color: #E7E7E8;
    border-color: #E7E7E8;
    border-width: 1px;
    margin: 12px 0px 17px 0px;

}





/*
#directorsContainer .six:last-child {
    float: right;
}
*/

#navContainer {
    height: 118px;
}

#navContainer a:hover {
    color: #D7BC77;
}

#directorsContainer h6 {
    margin-bottom: 4px;
    font-size: 10px; 
    font-weight: bold;
      /* text-shadow:1px 0px black; */
}

#directorsContainer p {
    font-size: 8px;
    font-weight: normal;
    line-height: 15px;
    letter-spacing: 1px;

}

#taskForceContainer h6 {
    margin-bottom: 4px;
    font-size: 10px; 
}

#taskForceContainer ul {
    color: #9d8c61;
    margin-top: 14px;
    font-size: 10px;
    height: 4px;
    overflow: hidden;
    
    -webkit-transition: height 0.3s ease-out;  /* Safari 3.2+, Chrome */
     -moz-transition: height 0.3s ease-out;  /* Firefox 4-15 */
       -o-transition: height 0.3s ease-out;  /* Opera 10.5–12.00 */
          transition: height 0.3s ease-out;  /* Firefox 16+, Opera 12.50+ */
}

#footerContainer {
	padding-top: 8px;
	margin-left: 20px;

	
}

#footerContainer span {
    font-size: 10px;
    color: #000;
    padding-top: 0px;
    font-weight: bold; 
}

#footerContainer_whatwedo {
	padding-top: 8px;
	margin-left: 20px;
	position: relative;
	left: -43px;
}

#footerContainer_whatwedo span{
    font-size: 10px;
    color: #000;
    padding-top: 0px;
    font-weight: bold; 
}

#facebook_logo {
	float: right;
	margin: 1px 0px 0px 0px;  
	width: 15px;
}

#twitter_logo {
	float: right;
	width: 15px;
	margin: 1px 7px 0px 0px;  
}

/* #footerContainer #facebook_logo { height: 15px; width: 15px; } */

/*	--------------------------------------------------
	Navigation
	-------------------------------------------------- */

dl.tabs dd a {
    padding: 0 13px;
    line-height: 29px;
}

dl.tabs dd a.current {
    color: #D7BC77;
}


@media only screen and (max-width: 1024px) {

/*
dl.tabs dd {
    float: left;
    position: relative;
    
    }
*/

#footerContainer {
	padding-top: 8px;
	margin-left: 20px;
	margin-right: 20px;
	left: 0px;
	
}

#footerContainer_whatwedo {
	padding-top: 8px;
	margin-left: 20px;
	margin-right: 20px;
	left: 0px;
	position: none;
	
}

#navContainer {
    float: left;
    left: 0px; 
}

}
	


/*	--------------------------------------------------
	Newsletter Styles
	-------------------------------------------------- */

#newsletterContainer h6 {
    color: #CACBCD;
    font-size: 10px;
    font-weight: bold; 
}

#newsletterContainer input {
    margin: 20px 0 20px 0;
}