/* 
    Document   : ie
    Created on : Nov 14, 2012, 7:30:05 PM
    Author     : mike_newell
    Description:
        Purpose of the stylesheet follows.
*/

root { 
    display: block;
}

#digitalDefenders {
    width: 480px !important;
}

#board {
    left: 240px !important;
    height: 88px;
    width: 240px !important;
}

#taskForce {
    height: 91px;
}

#donateText {
    width: 478px !important;
}