/* 
    Document   : aboutus2
    Created on : Sep 5, 2012, 1:52:51 PM
    Author     : mike_newell
    Description:
        ADDITIONAL STYLES FOR THE ABOUTUS2 PAGE.
*/

/* stop overflow scrollbar jump */
html { overflow-y: scroll;
min-height: 100%; }

/*
#splash_logo h2 img{
	background-image: url(http://www.work.goodbysilverstein.com/dna/production/thorn_site/images/thorn_logo_main.png); 
	margin-top: 55px;
	text-indent: -9999px;
	height: 177px;
	width: 735px; 
	
}
*/

#header_logo {
	margin-left: 13px;
}


@media only screen and (max-width: 480px) {
#header_logo {
	margin-left: 0px;
	}

/*
#splash_logo h2 img{
	background-image: url(http://www.work.goodbysilverstein.com/dna/production/thorn_site/images/thorn_logo_small.png) top left no-repeat; 
	margin-top: 55px; 
	text-indent: -9999px;
	height: 335px;
	width: 575px;
	
}	 
*/
	
} 


.lightGreyhr {
    color: #231F20;
    background-color: #231F20;
    border-color: #231F20;
    border-width: 1px;
    margin: 12px 0px 17px 0px;
}

.blackhr {
    color: #AF9968;
    background-color: #AF9968;
    border-color: #AF9968;
    border-width: 1px;
       margin: 12px 0px 17px 0px;
}

.darkGreyhr {
	color: #CACBCD;
	background-color: #CACBCD;
    border-color: #CACBCD;
	border-width: 1px;
    margin: 12px 0px 17px 0px;
}

.goldhr {
    color: #231F20;
    background-color: #231F20;
    border-color: #231F20;
    border-width: 1px;
       margin: 12px 0px 17px 0px;
}

.redhr {
    color: #E7E7E8;
    background-color: #E7E7E8;
    border-color: #E7E7E8;
    border-width: 1px;
    margin: 12px 0px 17px 0px;

}

.privacyhr {
/*    color: #434344;
    background-color: #434344;
    border-color: #434344;*/
    color: #6d6f71;
    background-color: #6d6f71;
    border-color: #6d6f71;
    margin-bottom: 13px;
    border-width: 1px;
}

.digitalhr {
    color: #aaacaf;
    background-color: #aaacaf;
    border-color: #aaacaf;
    margin-bottom: 13px;
    border-width: 1px;
}

/*
#directorsContainer .six:last-child {
    float: right;
}
*/

/*#navContainer {
    height: 118px;
}*/

#navContainer.stacked {
    margin-bottom: 25px;
}

#navContainer a:hover {
    color: #D7BC77;
}

#directorsContainer h5 {
    margin-bottom: 4px;
    font-size: 10px; 
    font-weight: bold;
      /* text-shadow:1px 0px black; */
}

/*#directorsContainer h6 {
    margin-bottom: 4px;
    font-size: 9px; 
    font-weight: bold;
}*/

/*#directorsContainer p {
    font-size: 9px;
    font-weight: normal;
    line-height: 13px;
    letter-spacing: 1px;

}*/

#taskForceContainer h6,
#directorsContainer h6{
    margin-bottom: 4px;
    font-size: 10px; 
}

/*#taskForceContainer ul {
    color: #9d8c61;
    margin-top: 14px;
    font-size: 10px;
    height: 4px;
    overflow: hidden;
    
    -webkit-transition: height 0.3s ease-out;   Safari 3.2+, Chrome 
     -moz-transition: height 0.3s ease-out;   Firefox 4-15 
       -o-transition: height 0.3s ease-out;   Opera 10.5–12.00 
          transition: height 0.3s ease-out;   Firefox 16+, Opera 12.50+ 
}*/

#footerContainer {
    padding-top: 8px;
    margin-left: 20px;
}

#theIssue #footerContainer {
    margin-left: -23px;
}

#whatWeDo #footerContainer {
    margin-left: -20px;
}

#footerContainer span {
    font-size: 9.5px;
    color: #000;
    padding-top: 0px;
    font-weight: bold; 
}

#footerContainer_whatwedo {
	padding-top: 8px;
	margin-left: 20px;
	position: relative;
	left: -43px;
}

#footerContainer_whatwedo span{
    font-size: 9.5px;
    color: #000;
    padding-top: 0px;
    font-weight: bold;
}

#facebook_logo {
	float: right;
	margin: 1px 0px 0px 0px;  
	width: 16px;
}

#twitter_logo {
	float: right;
	width: 16px;
	margin: 1px 7px 0px 0px;  
}


#facebook_share {
	float: left;
	width: 16px;
	margin: 1px 10px 0px 0px;
}

#twitter_share {
	float: left;
	width: 16px;
	margin: 1px 10px 0px 0px;  
}

#google_share {
	float: left;
	width: 16px;
	margin: 1px 10px 0px 0px;
}

#email_share {
	float: left;
	width: 16px;
	margin: 1px 10px 0px 0px;  
}

#hidden {
    display: none;
}


/* #footerContainer #facebook_logo { height: 15px; width: 15px; } */

/*	--------------------------------------------------
	Navigation
	-------------------------------------------------- */

dl.tabs dd a {
    padding: 0 18px;
    line-height: 29px;

}


dl.tabs dd {
    margin-bottom: 3px; 
    
    }

dl.tabs dd a.current {
    color: #D7BC77;
}


@media only screen and (max-width: 1024px) {


    #footerContainer {
            padding-top: 8px;
            margin-left: 20px;
            margin-right: 20px;
            left: 0px;

    }

    #footerContainer_whatwedo {
            padding-top: 8px;
            margin-left: 20px;
            margin-right: 20px;
            left: 0px;
            position: none;

    }

    #navContainer {
        float: left;
        left: 0px;
        margin-bottom: 15px;  
    }

}

/*	--------------------------------------------------
	Header Styles
	-------------------------------------------------- */

#logoContainer h2 img {
    width: 200px;
}

/*	--------------------------------------------------
	CTA Styles
	-------------------------------------------------- */

#ctaContainer .light {
    /*color: #aaa;*/
}

/*	--------------------------------------------------
	Newsletter Styles
	-------------------------------------------------- */

#newsletterContainer h6 {
    color: #CACBCD;
    font-size: 10px;
    font-weight: bold; 
}

#newsletterContainer ul {
    color: #aaa;
    margin-top: 10px;
}

#newsletterContainer ul li {
    margin-bottom: 0px;
}

#newsletterContainer h6#donateButton {
    display: inline-block;
    padding: 5px 10px 5px 13px;
    color: white;
    margin: 0px 0 0 -6px;
}

#newsletterContainer .three {
    width: 25.5%;
}

#newsletterContainer .three div.panelRed {
    padding-top: 2px
}


/*	--------------------------------------------------
	Board of Directors Styles
	-------------------------------------------------- */
#internalDirectorsContainer {
    min-height: 200px; 
    width: 63%;
}


#directorsContainer, #internalDirectorsContainer, #internalDirectorsContainer .panelLightgrey {
  -webkit-transition: height 0.3s ease-out;  /* Safari 3.2+, Chrome */
     -moz-transition: height 0.3s ease-out;  /* Firefox 4-15 */
       -o-transition: height 0.3s ease-out;  /* Opera 10.5–12.00 */
          transition: height 0.3s ease-out;  /* Firefox 16+, Opera 12.50+ */
}


#directorsContainer h3 {
    margin-bottom: 14px;
    font-size: 9px; 
    font-weight: bold;
} 

/*
.ashton p, .demi p, .ray p {
    height: 0;
    opacity: 0;
    display: inline-block;
}

#directorsContainer section {
    position: relative;
    display: block;
}

#directorsContainer h4 {
    font-size: 9px;
    font-weight: normal;
    line-height: 13px;
    letter-spacing: 1px;
}

#directorsContainer p {
    font-size: 8px;
    font-weight: normal;
    line-height: 13px;
    margin-bottom: 14px;
    height: 0;
    margin: 0;
    padding: 0;
}*/

#directorsContainer .ui-widget-content {
    border: 0;
    background: transparent;
    color: #181818;
}

#directorsContainer h4.ui-state-active, #directorsContainer h4.ui-state-default {
    border: none;
    background: transparent;
    font-weight: bold;
    color: #181818;
    font-family: 'Varela', "Helvetica Neue", "HelveticaNeue", Helvetica, Arial, "Lucida Grande", sans-serif;
    font-size: 9px;
    line-height: 13px;
    /*letter-spacing: 1px;*/
}

#directorsContainer span.ui-state-active, #directorsContainer .ui-state-active .ui-icon, #directorsContainer .ui-state-default .ui-icon {
    background: transparent;
    background-image: none;
}

#directorsContainer p {
    font-size: 11px;
    font-weight: normal;
    line-height: 13px;
    margin-bottom: 14px;
    /*height: 0;*/
    margin: 0;
    padding: 0;
}

#directorsContainer .ui-accordion .ui-accordion-content {
    padding: 0;
}

/*#accordion {
    display: none;
}*/

/* sets the height of the accordion divs used in conjunction with jquery ui */

#accordion {
    height: 3px;
    /*height: 779px;*/
    overflow: hidden;
}

#accordion h7:first-child {
    margin-top: 20px;
/*    position: relative;
    top: 10px;*/
}

#accordion h7 {
    margin-top: 8px;
    margin-bottom: 7px;
    font-size: 1rem;
    color: #231F20;
    font-weight: bold;
}



#accordion div p {
    /*min-height: 176px;*/
    margin: 5px 0;
}

/*	--------------------------------------------------
	Task Force Styles
	-------------------------------------------------- */

/*#taskForceContainer ul.expanded {
    height: 105px;
}

#taskForceContainer ul.minimized {
    height: 3px;
}*/

#taskForceContainer {
    overflow: hidden;
}

#taskForceContainer .panelBlack:hover {
    height: 598px;
    overflow: hidden;
}

#taskForceContainer .panelBlack {
    height: 68px;
    overlflow: hidden;
}

#taskForceContainer .panelBlack {
    -webkit-transition: height 0.3s ease-out;  /* Safari 3.2+, Chrome */
     -moz-transition: height 0.3s ease-out;  /* Firefox 4-15 */
       -o-transition: height 0.3s ease-out;  /* Opera 10.5–12.00 */
          transition: height 0.3s ease-out;  /* Firefox 16+, Opera 12.50+ */
}

#taskForceContainer .expanded {
    height: 598px;
    overflow: hidden;
}

#taskForceContainer .minimized {
    height: 68px;
    overflow: hidden;
}

#taskForceContainer img {
    margin-top: 28px;
}


/*	--------------------------------------------------
	Defenders Container Styles
	-------------------------------------------------- */

#defendersContainer h2 {
    display: block;
    position: absolute;
    left: -9999px;
}

#defendersContainer img {
    margin-bottom: 18px;
    margin-top: 4px;
}

/*	--------------------------------------------------
	Coming Soon Container Styles
	-------------------------------------------------- */

#comingSoonContainer h2 {
    display: block;
    position: absolute;
    left: -9999px;
}

#comingSoonContainer img {
    margin-bottom: 18px;
    margin-top: 4px;
}

/*	--------------------------------------------------
	About Us Page Styles
	-------------------------------------------------- */

#nitPickyT {
    display: inline-block;
    margin-left: -3px;
}

/*	--------------------------------------------------
	No. 1 Styles
	-------------------------------------------------- */
#no1Container {
    padding-top: 8px;
}

#no1Container h2 {
    display: block;
    position: absolute;
    left: -9999px;
}

#no1Container img {
    margin-bottom: 8px;
    margin-top: 4px;
}

/*	--------------------------------------------------
	Graph Selector Styles
	-------------------------------------------------- */

#graphSelectorContainer {
    float: right;
    padding-top: 8px;
}

#graphSelectorContainer ul li {
    margin: 7px 0 6px 0;
    padding-top:2px;
    padding-bottom: 2px;
}

#graphSelectorContainer ul li:hover {
    margin: 7px 0 6px 0;
    border-top: #c3151e 2px solid;
    border-bottom: #c3151e 2px solid; 
    padding-top: 0px;
    padding-bottom: 0px;
}

#graphSelectorContainer ul li:hover a {
    color: #c3151e;

}

#graphSelectorContainer a {
    color: black;
    font-size: 8px;
    line-height: 14px;
    

}

#graphSelectorContainer a:hover, #graphSelectorContainer a:active, #graphSelectorContainer a:enabled, .graphActiveSelector  {
    color: #c3151e;
    /*font-size: 13px;*/
}

/*	--------------------------------------------------
	The Issue Page
	-------------------------------------------------- */

#techAndExploitation {
    padding-top: 8px
}

#techAndExploitation .goldhr {
    margin-left: 18px;
    width: 92.5%;
}



#techAndExploitation h2 {
    text-indent: -9999px;
    display: inline-block;
    width: 100%;
    min-height: 56px;
    background: url(../images/theissue/techandexploit.png) scroll 19px 8px no-repeat;
}

#techAndExploitation h3 {
    text-indent: -9999px;
    display: inline-block;
}

#techAndExploitation .numberofchildren {
    width: 100%;
    min-height: 56px; 
    background: url(../images/theissue/numberofchildren.png) scroll no-repeat;
}

#techAndExploitation .threeoutoffour {
    width: 100%;
    background: url(../images/theissue/3outof4.png) scroll no-repeat;
    margin-bottom: -1px;
}

#techAndExploitation .panelBlack {
    /*width: 92.5%;*/
    width: 89.7%;
}

#techAndExploitation .panelBlack img {
    margin-top: -100px;
}

#techAndExploitation .chart,
#techAndExploitation .children {
    position: relative;
    left: 50%;
    margin: 50px 0 50px -399px;
    width: 774px;
}

#techAndExploitation p.citation {
    color: #aaa;
    font-size: 1.0rem;
}

/*	--------------------------------------------------
	Chart Styles
	-------------------------------------------------- */

#graphContainer {
    position: relative;
}

.graph {
    position: absolute;
    top: 0;
    left: 0;
    
    -webkit-transition: opacity 0.5s linear;  /* Safari 3.2+, Chrome */
     -moz-transition: opacity 0.5s linear;  /* Firefox 4-15 */
       -o-transition: opacity 0.5s linear;  /* Opera 10.5–12.00 */
          transition: opacity 0.5s linear;  /* Firefox 16+, Opera 12.50+ */

    opacity: 0;
}

.graphActive {
    opacity: 1;
}

#graphFiles {
    
}

#graphFacebook {
    
}

#graphFlickr {
    
}

#graphTraffic {
    
}

#graphVideos {
    
}

/*	--------------------------------------------------
	Social Styles
	-------------------------------------------------- */

#socialPopUpContainer {
    clear: both;
    margin: 44px 0;
    position: relative;
}

.socialPopUp {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
}

.socialPopUp a {
    color: black;
    font-size: 9px;
    
}

#email {
    width: 400px;
}

/*	--------------------------------------------------
	Screen Specific Styles
	-------------------------------------------------- */

/* Smartphones (portrait and landscape) ----------- */
@media only screen 
and (min-device-width : 320px) 
and (max-device-width : 480px) {
    /* Styles */
    #navContainer {
        height: 118px;
    }
}

/* Smartphones (landscape) ----------- */
@media only screen 
and (min-width : 321px) {
    /* Styles */
/*    #navContainer {
        height: 118px;
    }*/
}

/* Smartphones (portrait) ----------- */
@media only screen 
and (max-width : 320px) {
    /* Styles */
    #navContainer {
        height: 118px;
    }
}

/* iPads (portrait and landscape) ----------- */
@media only screen 
and (min-device-width : 768px) 
and (max-device-width : 1024px) {
    /* Styles */
    #navContainer {
        height: 50px;
    }
}

/* iPads (landscape) ----------- */
@media only screen 
and (min-device-width : 768px) 
and (max-device-width : 1024px) 
and (orientation : landscape) {
    /* Styles */
    #navContainer {
        height: 50px;
    }
}

/* iPads (portrait) ----------- */
@media only screen 
and (min-device-width : 768px) 
and (max-device-width : 1024px) 
and (orientation : portrait) {
    /* Styles */
    #navContainer {
        height: 50px;
    }
}

/* Desktops and laptops ----------- */
@media only screen 
and (min-width : 1224px) {
    /* Styles */
    #navContainer {
        height: 118px;
    }
}

/* Large screens ----------- */
@media only screen 
and (min-width : 1824px) {
    /* Styles */
    #navContainer {
        height: 118px;
    }
}

/* iPhone 4 ----------- */
@media
only screen and (-webkit-min-device-pixel-ratio : 1.5),
only screen and (min-device-pixel-ratio : 1.5) {
    /* Styles */
    #navContainer {
        height: 118px;
    }
}

/*	--------------------------------------------------
	Privacy Policy
	-------------------------------------------------- */

#privacyPolicy {
    margin-top: 25px;
}

#privacyPolicy .privacyhr {
    width: 92%;
    margin-left: 21px;
}

#privacyPolicy div a {
    /*color: #383839;*/
    color: #6d6f71;
    font-weight:bold;
    line-height:15px; 
    margin-left:21px;
    font-size: 10px;
}

#privacyContainer {
    opacity: 0;
    filter: alpha(opacity = 0);
    margin-left: 21px;
    width: 92%;
    padding-bottom: 20px;
}

#privacyPolicy p {
    /*opacity: 0;*/
    /*font-size: 0.8rem;*/
    font-size: 11px;
    margin-bottom: 9px;
}

#privacyPolicy div p:nth-of-type(1) {
    margin-top: 11px;
}

#theIssue #privacyPolicy {
    position: relative;
    top: -73px;
    margin-top: -25px;
}


/*	--------------------------------------------------
	WePay Button
	-------------------------------------------------- */
/*.wepay-custom-button {
    background: transparent !important;
    border: none !important;

    -moz-box-shadow:        none !important;
    -webkit-box-shadow:     none !important;
    box-shadow:             none !important;

    width: 102px !important;
    height: 32px !important;
    margin-left: -20px !important;

    font-size: 10px !important;
    font-weight: bold !important;
    line-height: 1.25 !important;
    font-family: 'Varela', "Helvetica Neue", "HelveticaNeue", Helvetica, Arial, "Lucida Grande", sans-serif !important;
    letter-spacing: 1px !important;
}*/