/* 
    Document   : aboutus2
    Created on : Sep 5, 2012, 1:52:51 PM
    Author     : mike_newell
    Description:
        ADDITIONAL STYLES FOR THE ABOUTUS2 PAGE.
*/

/* stop overflow scrollbar jump */
html { overflow-y: scroll;
min-height: 100%; }

#splash_logo {
	margin-top: 55px; 
}

#header_logo {
	margin-left: 13px;
}


.lightGreyhr {
    color: #231F20;
    background-color: #231F20;
    border-color: #231F20;
    border-width: 1px;
    margin: 12px 0px 17px 0px;
}

.blackhr {
    color: #AF9968;
    background-color: #AF9968;
    border-color: #AF9968;
    border-width: 1px;
       margin: 12px 0px 17px 0px;
}

.darkGreyhr {
	color: #CACBCD;
	background-color: #CACBCD;
    border-color: #CACBCD;
	border-width: 1px;
    margin: 12px 0px 17px 0px;
}

.goldhr {
    color: #231F20;
    background-color: #231F20;
    border-color: #231F20;
    border-width: 1px;
       margin: 12px 0px 17px 0px;
}

.redhr {
    color: #E7E7E8;
    background-color: #E7E7E8;
    border-color: #E7E7E8;
    border-width: 1px;
    margin: 12px 0px 17px 0px;

}





/*
#directorsContainer .six:last-child {
    float: right;
}
*/

#navContainer {
    height: 118px;
}

#navContainer.stacked {
    margin-bottom: 25px;
}

#navContainer a:hover {
    color: #D7BC77;
}

#directorsContainer h6 {
    margin-bottom: 4px;
    font-size: 10px; 
    font-weight: bold;
      /* text-shadow:1px 0px black; */
}

#directorsContainer p {
    font-size: 8px;
    font-weight: normal;
    line-height: 15px;
    letter-spacing: 1px;

}

#taskForceContainer h6 {
    margin-bottom: 4px;
    font-size: 10px; 
}

/*#taskForceContainer ul {
    color: #9d8c61;
    margin-top: 14px;
    font-size: 10px;
    height: 4px;
    overflow: hidden;
    
    -webkit-transition: height 0.3s ease-out;   Safari 3.2+, Chrome 
     -moz-transition: height 0.3s ease-out;   Firefox 4-15 
       -o-transition: height 0.3s ease-out;   Opera 10.5–12.00 
          transition: height 0.3s ease-out;   Firefox 16+, Opera 12.50+ 
}*/

#footerContainer {
	padding-top: 8px;
	margin-left: 20px;
}

#footerContainer span {
    font-size: 9.5px;
    color: #000;
    padding-top: 0px;
    font-weight: bold; 
}

#footerContainer_whatwedo {
	padding-top: 8px;
	margin-left: 20px;
	position: relative;
	left: -43px;
}

#footerContainer_whatwedo span{
    font-size: 9.5px;
    color: #000;
    padding-top: 0px;
    font-weight: bold;
}

#facebook_logo {
	float: right;
	margin: 1px 0px 0px 0px;  
	width: 15px;
}

#twitter_logo {
	float: right;
	width: 15px;
	margin: 1px 7px 0px 0px;  
}

/* #footerContainer #facebook_logo { height: 15px; width: 15px; } */

/*	--------------------------------------------------
	Navigation
	-------------------------------------------------- */

dl.tabs dd a {
    padding: 0 13px;
    line-height: 29px;

}


dl.tabs dd {
    margin-bottom: 3px; 
    
    }

dl.tabs dd a.current {
    color: #D7BC77;
}


@media only screen and (max-width: 1024px) {


#footerContainer {
	padding-top: 8px;
	margin-left: 20px;
	margin-right: 20px;
	left: 0px;
	
}

#footerContainer_whatwedo {
	padding-top: 8px;
	margin-left: 20px;
	margin-right: 20px;
	left: 0px;
	position: none;
	
}

#navContainer {
    float: left;
    left: 0px;
    margin-bottom: 15px;  
}

}

/*	--------------------------------------------------
	Newsletter Styles
	-------------------------------------------------- */

#newsletterContainer h6 {
    color: #CACBCD;
    font-size: 10px;
    font-weight: bold; 
}

#newsletterContainer input {
    margin: 20px 0 20px 0;
}

/*	--------------------------------------------------
	Task Force Styles
	-------------------------------------------------- */

/*#taskForceContainer ul.expanded {
    height: 105px;
}

#taskForceContainer ul.minimized {
    height: 3px;
}*/

#taskForceContainer {
    overflow: hidden;
}

#taskForceContainer .panelBlack {
    -webkit-transition: height 0.3s ease-out;  /* Safari 3.2+, Chrome */
     -moz-transition: height 0.3s ease-out;  /* Firefox 4-15 */
       -o-transition: height 0.3s ease-out;  /* Opera 10.5–12.00 */
          transition: height 0.3s ease-out;  /* Firefox 16+, Opera 12.50+ */
}

#taskForceContainer .expanded {
    height: 493px;
    overflow: hidden;
}

#taskForceContainer .minimized {
    height: 68px;
    overlflow: hidden;
}

#taskForceContainer img {
    margin-top: 28px;
}


/*	--------------------------------------------------
	Defenders Container Styles
	-------------------------------------------------- */

#defendersContainer h2 {
    display: block;
    position: absolute;
    left: -9999px;
}

#defendersContainer img {
    margin-bottom: 18px;
    margin-top: 4px;
}

/*	--------------------------------------------------
	Coming Soon Container Styles
	-------------------------------------------------- */

#comingSoonContainer h2 {
    display: block;
    position: absolute;
    left: -9999px;
}

#comingSoonContainer img {
    margin-bottom: 18px;
    margin-top: 4px;
}

/*	--------------------------------------------------
	About Us Page Styles
	-------------------------------------------------- */

#nitPickyT {
    display: inline-block;
    margin-left: -3px;
}

/*	--------------------------------------------------
	No. 1 Styles
	-------------------------------------------------- */
#no1Container {
    padding-top: 8px;
}

#no1Container h2 {
    display: block;
    position: absolute;
    left: -9999px;
}

#no1Container img {
    margin-bottom: 18px;
    margin-top: 4px;
}

/*	--------------------------------------------------
	Graph Selector Styles
	-------------------------------------------------- */

#graphSelectorContainer {
    float: right;
    padding-top: 8px;
}

#graphSelectorContainer ul li {
    margin: 6px 0 5px 0;;
}

#graphSelectorContainer a {
    color: black;
    font-size: 8px;
    line-height: 14px;
    
    -webkit-transition: font-size 0.1s linear;  /* Safari 3.2+, Chrome */
     -moz-transition: font-size 0.1s linear;  /* Firefox 4-15 */
       -o-transition: font-size 0.1s linear;  /* Opera 10.5–12.00 */
          transition: font-size 0.1s linear;  /* Firefox 16+, Opera 12.50+ */
}

#graphSelectorContainer a:hover, #graphSelectorContainer a:active, #graphSelectorContainer a:enabled, .graphActiveSelector  {
    color: #c3151e;
    font-size: 13px;
}

/*	--------------------------------------------------
	Chart Styles
	-------------------------------------------------- */

#graphContainer {
    position: relative;
}

.graph {
    position: absolute;
    top: 0;
    left: 0;
    
    -webkit-transition: opacity 0.5s linear;  /* Safari 3.2+, Chrome */
     -moz-transition: opacity 0.5s linear;  /* Firefox 4-15 */
       -o-transition: opacity 0.5s linear;  /* Opera 10.5–12.00 */
          transition: opacity 0.5s linear;  /* Firefox 16+, Opera 12.50+ */

    opacity: 0;
}

.graphActive {
    opacity: 1;
}

#graphFiles {
    
}

#graphFacebook {
    
}

#graphFlickr {
    
}

#graphTraffic {
    
}

#graphVideos {
    
}