/* - - - - - - - - - - - - - - - - - - - - -

 Title : Thorn Wufoo Form CSS   
 Author : Michael Newell
 URL : http://goodbysilverstein.com

 Last Updated :

- - - - - - - - - - - - - - - - - - - - - */

.thornEmail {
    
    width:400px;
    
}