/* Foundation v2.2.1 http://foundation.zurb.com */
/* This is for all IE specfific style less than IE9. We hate IE. */

div.panel { border: 1px solid #ccc; }
.lt-ie8 .nav-bar li.has-flyout a { padding-right: 20px; }
.lt-ie8 .nav-bar li.has-flyout a:after { border-top: none; }

/* Correct IE7 button padding */
.lt-ie8 input[type=submit].nice.button { filter:chroma(color=#000000); position: relative; top: -2px; }
.lt-ie8 input[type=submit].tiny.button		{ padding: 5px 5px 7px; }
.lt-ie8 input[type=submit].small.button		{ padding: 8px 7px 9px; }
.lt-ie8 input[type=submit].medium.button	{ padding: 9px 13px 9px; }
.lt-ie8 input[type=submit].large.button		{ padding: 9px 18px 10px; }



.numberofchildren {
    line-height: 2.25;
}

/*#aboutus .panelBlack { width: 88%; }
#aboutus .panelLightgrey { width: 84%; }
#aboutus .panelDarkgrey { width: 90%; }
#aboutus .panelRed { width: 90%; }

#whatwedo .panelBlack { width: 93%; }
#whatwedo .panelRed { width: 93%; }
#whatwedo .panelDarkgrey { width: 93%; }
#whatwedo .panelGold { width: 93%; }

#donate .panelGold { width: 91%; }
#donate .panelBlack { width: 90%; }
#donate .panelDarkgrey { width: 86.5%; }
#donate .panelRed { width: 61%; }*/

#aboutus .panelBlack { width: 100%; }
#aboutus .panelLightgrey { width: 100%; }
#aboutus .panelDarkgrey { width: 100%; }
#aboutus .panelRed { width: 100%; }

#whatwedo .panelBlack { width: 104.5%; }
#whatwedo .panelRed { width: 104.5%; }
#whatwedo .panelDarkgrey { width: 104.5%; }
#whatwedo .panelGold { width: 104.5%; }

#techAndExploitation .panelBlack { width: 95.5%; }
#techAndExploitation .children { position: static; left: 0; margin: -19% 0 5% 9%; }

#donate .panelGold { width: 100%; }
#donate .panelBlack { width: 100%; }
#donate .panelDarkgrey { width: 100%; }
#donate .panelRed { width: 100%; }

dl.tabs {
    margin-right: -5% !important;
}

.tabs dd a {
    font-size: 7px !important;
}

.twelve dl.tabs dd {
    width: 24%;
}