/* 
    Document   : aboutus2
    Created on : Sep 5, 2012, 1:52:51 PM
    Author     : mike_newell
    Description:
        ADDITIONAL STYLES FOR THE ABOUTUS2 PAGE.
*/



.lightGrey {
    color: #a7aaac;
    background-color: #a7aaac;
    border-color: #a7aaac;
    border-width: 1px;
}

.darkGrey {
    color: #000;
    background-color: #000;
    border-color: #000;
    border-width: 1px;
}

.gold {
    color: #9d8c61;
    background-color: #9d8c61;
    border-color: #9d8c61;
    border-width: 1px;
}

.red {
    color: #C3161E;
    background-color: #C3161E;
    border-color: #C3161E;
}

#directorsContainer .six:last-child {
    float: right;
}

#navContainer {
    height: 118px;
}

#directorsContainer h6 {
    margin-bottom: 4px;
}

#directorsContainer p {
    font-size: 8px;
    font-weight: normal;
    line-height: 15px;
}

#taskForceContainer ul {
    color: #9d8c61;
    margin-top: 14px;
    font-size: 10px;
    height: 4px;
    overflow: hidden;
    
    -webkit-transition: height 0.3s ease-out;  /* Safari 3.2+, Chrome */
     -moz-transition: height 0.3s ease-out;  /* Firefox 4-15 */
       -o-transition: height 0.3s ease-out;  /* Opera 10.5–12.00 */
          transition: height 0.3s ease-out;  /* Firefox 16+, Opera 12.50+ */
}

#footerContainer p {
    font-size: 8px;
    color: #000;
}

#footerContainer img {
    width: 25px;
}

/*	--------------------------------------------------
	Navigation
	-------------------------------------------------- */

dl.tabs dd a {
    padding: 0 16px;
    line-height: 29px;
}

dl.tabs dd a.current {
    color: #D7BC77;
}